{{demo-formulario-estudiante/estudiante model=model cuandoGuarda=(route-action "regresar")}}

<p>  
  {{#link-to 'cargarRepresentante' tagName='button' class="button"}}Cargar Representante{{/link-to}}
</p>